.nav-link {
    color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
    background-color: #ffc017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
    background-color: #222222;
}

.navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

.whiteboard {
    background-color: rgba(126, 131, 135, 0.729);
    border-radius: 15px;
    padding: 5%;
}

.nome {
    color: aliceblue;
    font-size: 40px;
}

.foto {
    width: 480px;
    border-radius: 10%;
    background-color: rgb(25, 25, 25);
}

.hello {
    color: aliceblue;
}

.ta-left {
    text-align: left;
    margin-right: 3%;
}

.apresentacao {
    color: aliceblue;
    width: 600px;
}

.btn-contact {
    width: 120px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 12px;
    color: aliceblue !important;
}

.btn-contact:hover {
    background-color: rgb(0, 0, 214);
    color: aliceblue !important;
}

.btn-contact a {
    text-decoration: none;
    color: aliceblue !important;
}

.project-img {
    width: 600px;
    border-radius: 5px;
}

.mt10 {
    margin-top: 10%;
}

.nav-container {
    position: absolute;
    right: 2%;
}

.nav-item {
    border-radius: 80px;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.icon-gradient {
    background: blue;
    border-radius: 80px;
    height: 50px;
    width: 50px;
}

.icon-back {
    background: #383838;
}

.nav-icon {
    color: white;
    width: 30px;
    margin-top: 4px;
}